{% extends "base.html" %}
{% block buttons %}
<div class="buttons">

</div>

{% endblock %}
{% block paragraph %}
    <p>
        Welcome to Tori's Wikipedia summary scraper. To use, please enter a search term in the search bar.
        Then, a page will open to a short summary of your search term and a link to view more information about your
        search. Happy Learning!!
    </p>
<br>
<h2>
    Example Searches
</h2>
<p>
    For example, if you wanted to learn more about specific countries, you can just type the country's name into the
    search bar and we will provide some information on the country of your choice.
    Here are some examples of countries you can learn more about!
</p>
<ul>
    <li>Japan</li>
    <li>Mexico</li>
    <li>Russia</li>
    <li>China</li>
</ul>


{% endblock %}