{% extends "base.html" %}
{% block buttons %}
<div class="buttons">

</div>

{% endblock %}
{% block paragraph %}
    <p>
        Welcome to the Currency Search! If you enjoyed our currency converter and would like to learn more about all the
        different currencies that exist in the world, enter a currency in the search bar! The search engine
        will search through Wikipedia and pull up a picture and short summary of the currency. Enjoy!
    </p>
<br>
<br>
<h2>
    Example Searches
</h2>
<p>
    Here are some example currencies you can search using our search engine!
</p>
<ul>
    <li>US Dollars</li>
    <li>South Korean Won</li>
    <li>Mexican Pesos</li>
    <li>Japanese Yen</li>
</ul>


{% endblock %}