{% extends "base.html" %}
{% block content %}
    <h3>
        Search Instructions
    </h3>
        <p>
            To use the search feature, type a topic into the search bar and click search. <br>
            Please limit your topic to one that is present on Wikipedia. <br>
            A new page will load with the search results, including the top image and the first several sentences from the Wikipedia page, and a relevant Youtube video.<br>
            The search bar is present on all pages of the search engine.
        </p>
    <h3>
        Random Article Instructions
    </h3>
        <p>
            To use the random article feature, click on the "Random Article" button present on the other pages. <br>
            This will take you to results page populated with a random article from Wikipedia. <br>
            This results page will have the same layout as the search results page. <br>
            There is a very slim chance that the random button will cause the site to crash. <br>
            This is a known issue, and is through no fault of the user. <br>
            If this occurs, please reload the page and the issue should resolve itself.
        </p>
    <h3>
        Featured Article Instructions
    </h3>
        <p>
            To use the featured article feature, click on the "Featured Article" button present on the other pages. <br>
            This will take you to a results page populated with the Wikipedia Featured Article for the day. <br>
            This results page will also have the same layout as the search results page.
        </p>
{% endblock %}